In [10]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'A':['Abi','Babu','Charles','Darwin','Abi','Charles','Darwin'],
                 'B':['one','two','three','one','two','three','one'],
                 'C':np.random.randint(7,size=7),
                 'D':np.random.randint(7,size=7)})
print("Original Dataframe\n",df)

Original Dataframe
          A      B  C  D
0      Abi    one  3  3
1     Babu    two  6  1
2  Charles  three  5  6
3   Darwin    one  4  2
4      Abi    two  5  6
5  Charles  three  3  2
6   Darwin    one  2  0

In [14]:
df1=df.groupby(['A'],as_index=False)['C'].sum()
print("Original Dataframe\n",df)
print("\n Grouped Dataframe with one column sum\n",df1)

Original Dataframe
          A      B  C  D
0      Abi    one  3  3
1     Babu    two  6  1
2  Charles  three  5  6
3   Darwin    one  4  2
4      Abi    two  5  6
5  Charles  three  3  2
6   Darwin    one  2  0

 Grouped Dataframe with one column sum
          A  C
0      Abi  8
1     Babu  6
2  Charles  8
3   Darwin  6

In [22]:
df2=df.groupby(['A','B'],as_index=False)['C'].sum()
print("Original Dataframe\n",df)
print("\n Grouped Dataframe with multiple column sum\n",df2)

Original Dataframe
          A      B  C  D
0      Abi    one  3  3
1     Babu    two  6  1
2  Charles  three  5  6
3   Darwin    one  4  2
4      Abi    two  5  6
5  Charles  three  3  2
6   Darwin    one  2  0

 Grouped Dataframe with multiple column sum
          A      B  C
0      Abi    one  3
1      Abi    two  5
2     Babu    two  6
3  Charles  three  8
4   Darwin    one  6

In [27]:
df3=df.groupby(['A','B'],as_index=False)[['C','D']].sum()
print("Original Dataframe\n",df)
print("\n Grouped Dataframe with multiple column sum\n",df3)

Original Dataframe
          A      B  C  D
0      Abi    one  3  3
1     Babu    two  6  1
2  Charles  three  5  6
3   Darwin    one  4  2
4      Abi    two  5  6
5  Charles  three  3  2
6   Darwin    one  2  0

 Grouped Dataframe with multiple column sum
          A      B  C  D
0      Abi    one  3  3
1      Abi    two  5  6
2     Babu    two  6  1
3  Charles  three  8  8
4   Darwin    one  6  2

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15

In [32]:
df=pd.DataFrame({'Category':['A','B','C','A','B','C'],
                'Sales':[100,200,150,150,130,200],
                 'Profit':[10,15,20,25,30,15]})
print(df)
df1=df.groupby('Category').agg({'Sales':['sum','mean'],'Profit':['sum','max']})
print(df1)

  Category  Sales  Profit
0        A    100      10
1        B    200      15
2        C    150      20
3        A    150      25
4        B    130      30
5        C    200      15
         Sales        Profit
           sum   mean    sum max
Category
A          250  125.0     35  25
B          330  165.0     45  30
C          350  175.0     35  20

In [40]:
df=pd.DataFrame({'Student':['A','B','C','D','A','C'],
                'Marks':[67,43,58,90,99,81],
                'Attendance':[92,87,98,79,77,93]})
print(df)
df2=df.groupby('Student').agg({'Marks':['sum','mean']})
print(df2)

  Student  Marks  Attendance
0       A     67          92
1       B     43          87
2       C     58          98
3       D     90          79
4       A     99          77
5       C     81          93
        Marks
          sum  mean
Student
A         166  83.0
B          43  43.0
C         139  69.5
D          90  90.0